body{
    background-image: url("/images/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(80, 80, 88);  
    font-size: 20px;
    font-family: san-serif;
 
}
.container {
    text-align: center;
    
    }
.info {
    text-align: center;
    padding: 20px;
    padding-top: 700px;
    display: inline-block;
    text-align: center;
}
#createDonut {
    background-color: rgb(207, 178, 123);
    color: rgb(229, 238, 238);
    font-weight: bold;
}
#autoClicker {
    background-color: rgb(38, 170, 170);
    color: rgb(229, 238, 238);
    font-weight: bold;
}

#multiplier {
    background-color: rgb(212, 117, 181);
    color: rgb(229, 238, 238);
    font-weight: bold;
}
#resetbtn {
    background-color: rgb(50, 117, 117);
    color: rgb(223, 236, 235);   
    font-weight: bold; 
}
#cookieclickerbtn {
    background-color:  rgb(50, 117, 117);
    font-weight: bold;
}
#biobtn {
    background-color:  rgb(50, 117, 117);
    color: rgb(223, 236, 235); 
    font-weight: bold;  
    
}
a:link {
    color: rgb(223, 236, 235); 
    font-weight: bold;
}
#fredbtn {
    background-color: rgb(50, 117, 117);
    color: rgb(223, 236, 235);  
    font-weight: bold;
    }
.fred-addy {
    color:rgb(79, 99, 68);
    display: none;
    text-align: left;
}
.bio {
    color:rgb(79, 99, 68);
    display: none;
    padding-top: 120px;
   text-align: left;
}
.show {
    display: block;
}
   

@media only screen and (max-width: 961px) {
    body {display: flex;
    flex-direction: column;
    }

    }
    .modalFred {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        text-align: center;
      }
      .modalBio {
        display: none; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        text-align: center;
      }
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
     
      .modal-content {
        background-color: #fefefec2;
        margin: auto;
        border: 1px solid #888;
        width: 40%;
        text-align: center;
    }